@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$clr-white: #fff;
$clr-red: #ff0000;
$clr-green: #00ff00;
$clr-black: #000;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31);

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &,
  * {
    font-family: 'Press Start 2P', monospace;
    cursor: cell;
    color: white !important;
  }
}

.score {
  height: 20px;
  align-self: flex-start;
  font-size: 12px;
  width: 100%;
}

.grid {
  background-color: $clr-black;
  display: grid;
}

.snakeSegment {
  background-color: $clr-green;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  box-shadow: 0 0 24px rgba($clr-green, 0.5);
}

.apple {
  background-color: $clr-red;
  box-shadow: 0 0 24px rgba($clr-red, 0.5);
}

.gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  gap: 2.4rem;
  color: $clr-white;
  background-color: rgb(31, 31, 31);
  width: clamp(20rem, 50%, 80rem);
}
